Ore spese sull'homeowork

- 1 ora il 15/12
- 2 ore il 20/12

In [48]:
# import libraries

import pandas as pd
import numpy as np
import re
import networkx as nx

## 1. Data

Import dataset

In [28]:
# HERO-NETWORK --> Contains the network of heroes who have appeared together in the comics.

heros= pd.read_csv(r'C:\Users\ludom\OneDrive\Desktop\ADM\HW5\data\hero-network.csv\hero-network.csv')

# NODES --> Contains two columns (node, type), indicating the nodes' name and type (comic, hero).

nodes= pd.read_csv(r'C:\Users\ludom\OneDrive\Desktop\ADM\HW5\data\nodes.csv')

# EDGES --> Contains two columns (hero, comic), indicating which comics the heroes appear in.

edges= pd.read_csv(r'C:\Users\ludom\OneDrive\Desktop\ADM\HW5\data\edges.csv\edges.csv')

In [29]:
heros.head()

                  hero1                 hero2
0         LITTLE, ABNER        PRINCESS ZANDA
1         LITTLE, ABNER  BLACK PANTHER/T'CHAL
2  BLACK PANTHER/T'CHAL        PRINCESS ZANDA
3         LITTLE, ABNER        PRINCESS ZANDA
4         LITTLE, ABNER  BLACK PANTHER/T'CHAL

In [30]:
nodes.head()

                   node   type
0               2001 10  comic
1                2001 8  comic
2                2001 9  comic
3  24-HOUR MAN/EMMANUEL   hero
4  3-D MAN/CHARLES CHAN   hero

In [31]:
edges.head()

                   hero   comic
0  24-HOUR MAN/EMMANUEL  AA2 35
1  3-D MAN/CHARLES CHAN   AVF 4
2  3-D MAN/CHARLES CHAN   AVF 5
3  3-D MAN/CHARLES CHAN   COC 1
4  3-D MAN/CHARLES CHAN  H2 251

#### Graphs setup

In [61]:
# Create an empty graph using NetworkX
G = nx.Graph()

# Iterate over the rows of the DataFrame, adding an edge between the two heroes for each row
for _, row in heros_2.iterrows():
    hero1, hero2, collaborations = row['hero1'], row['hero2'], row['collaborations']
    G.add_edge(hero1, hero2, weight=collaborations)

KeyError: 'collaborations'

In [49]:
G_heros=nx.MultiGraph()

In [ ]:
heros_2.apply(lambda row: G_heros.add_edge(row['hero1'], row['hero2']), axis=1)

In [32]:
#fig = plt.figure(figsize=(18,18))
#nx.draw(G_hero_net, with_labels=True,node_size=300)
#plt.show()

#### Data Preprocessing

1) Some of the heroes' names in 'hero-network.csv' are not found in 'edges.csv'. This inconsistency exists for the following reasons:

1.1) Some heroes' names in 'hero-netowrk.csv' have extra spaces at the end of their names compared to their names in 'edges.csv'.

1.2) Some heroes' names in 'hero-netowrk.csv' have an extra '/' at the end of their names compared to their names in 'edges.csv'.

In [33]:
# We define a function that removes excess spaces and the character '/' at the end of the heroes' name.

def remove_extra_spaces_and_slashes(string):
    # Remove extra spaces at the end of the string
    string = re.sub(r'\s+$', '', string)

    # Remove an extra forward slash at the end of the string, if present
    string = re.sub(r'\/+$', '', string)

    return string

In [34]:
hero_1=[]
for i in heros.hero1:
    hero_1.append(remove_extra_spaces_and_slashes(i))

In [35]:
hero_2=[]
for i in heros.hero2:
    hero_2.append(remove_extra_spaces_and_slashes(i))

In [52]:
# After that we create a new dataset within which we will put the "cleaned" columns.

heros_2=pd.DataFrame()

In [53]:
heros_2["hero1"]=hero_1
heros_2["hero2"]=hero_2

I don't know if I have to apply the same function also on the edges dataset

1.3) The hero name 'SPIDER-MAN/PETER PARKER' in 'edges.csv' has been changed to 'SPIDER-MAN/PETER PAR' in 'hero-network.csv' due to a string length limit in 'hero-network.csv'.

In [54]:
# We replace the wrong name with the correct name in the already cleaned columns.

heros_2.hero1=heros_2.hero1.replace('SPIDER-MAN/PETER PAR', 'SPIDER-MAN/PETER PARKER')
heros_2.hero2=heros_2.hero2.replace('SPIDER-MAN/PETER PAR', 'SPIDER-MAN/PETER PARKER')

2) Some entries in the 'hero-network.csv' have the same hero in both columns. We have to remove that.

In [55]:
indexes = heros_2[ (heros_2['hero1'] == heros_2['hero2'])].index

In [56]:
len(indexes)

2232

In [58]:
heros_2.drop(indexes, inplace = True)